/* css reset *
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

:root {
  --bg-color: #00005f;
  --dark-bg-color: #a050f0;
  --light-bg-color: #1f3f3f;
  --transparent-color: rgba(0, 0, 0, 0.5);
  --white-font-color: #fff1f2;
  --lighter: #000000a1;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  height: fit-content;
}

.container {
  display: grid;
  grid-template-rows: 10% 90%;
  color: var(--white-font-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
  background-color: #202020;
  color: var(--white-font-color);
  font-weight: 600;
  font-size: 1.2rem;
  box-shadow: 0 5px 10px #000000a1;
}

.header > img {
  padding-right: 50%;
  width: 3em;
  filter: drop-shadow(0 5px 10px #000000a1);
}

.header > div {
  text-shadow: 0 5px 10px #000000a1;
  transition: transform 0.3s ease;
}

.content {
  display: grid;
  grid-template-columns: 1fr 30%;
  height: 90vh;
}

.content-left {
  background-image: url("https://images.unsplash.com/photo-1535905557558-afc4877a26fc?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  display: grid;
  grid-template-rows: 1fr 5%;
}

.form-container {
  padding: 5%;
  padding-right: 50%;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

form {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(5, 1fr);
  background-color: var(--transparent-color);
  color: var(--white-font-color);
  height: 60vh;
  gap: 5%;
  padding: 5%;
  border-radius: 5%;
  font-weight: 600;
  font-size: 1.2rem;
}

form > input {
  width: 90%;
  height: 2em;
  border-radius: 5px;
}

.buttons {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5%;
}

button {
  padding: 1%;
  font-size: 1rem;
  border-radius: 10%;
  transition: transform 0.3s ease;
}

button:hover,
.header > div:hover {
  cursor: pointer;
  transform: scale(1.1);
}

img:hover {
  cursor: pointer;
}

.content-right {
  background-image: url("https://images.unsplash.com/photo-1599992836360-f88e279f8350?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr 5%;
}

.card-container {
  padding: 5%;
  grid-row: 1/2;
}

.card {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}
